a#menu-toggle.btn.btn-dark.btn-lg.toggle(href="#")
  i.fa.fa-bars
nav#sidebar-wrapper
  ul.sidebar-nav
    a#menu-close.btn-btn-light.btn-lg.pull-right.toggle(href="#")
      i.fa.fa-times
    li.sidebar-brand
      a(href="#top") Jess Sing Studio
    li
      a(href="#bio") About
    li
      a(href="#portfolio") Samples
    li
      a(href="#review") Review
    li
      a(href="#contact") Contact
