@font-face {
  font-family: ExistenceLight;
  src: url(../assets/fonts/ExistenceLight.otf) format('opentype');
}
@font-face {
  font-family: PrintBold;
  src: url(../assets/fonts/PrintBold.otf) format('opentype');
}
@font-face {
  font-family: PrintClearly;
  src: url(../assets/fonts/PrintClearly.otf) format('opentype');
}
@font-face {
  font-family: Gabriola;
  src: url(../assets/fonts/Gabriola.ttf);
}
