// COLOURS
$PRIMARY-COLOR: rgb(163, 64, 112);
$SECONDARY-COLOR: rgb(111, 205, 203);
$TERTIARY-COLOR: rgb(255, 221, 219);

@import url(https://fonts.googleapis.com/css?family=Stalemate);
@import 'fonts';

$HEADING-FONT: 'ExistenceLight';
$SUBHEADING-FONT: 'PrintClearly';
$FONT: 'Gabriola';


a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

  &:hover {
    color: $SECONDARY-COLOR;
  }
}

html,
body,
p,
a {
  font-family: Gabriola;
  color: $TERTIARY-COLOR;
}

.primary-background   { background-color: $PRIMARY-COLOR !important;   }
.secondary-background { background-color: $SECONDARY-COLOR !important; }
.tertiary-background { background-color: $TERTIARY-COLOR !important; }
.white-background { background-color: #fff !important; }

.primary-color { color: $PRIMARY-COLOR !important;     }
.secondary-color { color: $SECONDARY-COLOR !important; }
.tertiary-color { color: $TERTIARY-COLOR !important; }


h1, h2 { font-family: $HEADING-FONT;    }
h3, h4 { font-family: $SUBHEADING-FONT; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #aaa;
  width: 100%;
  height: 100%;
}

#nav {
  background: none;
  border: none;
}

.section {
  background-color: black;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .inner-container {
    height: 600px;
    margin: 10px;
    padding:5px;
    background:blue;
    color:white;
  }
}


.div-overlay-container {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &.toplayer {
      z-index: 3;
    }
    &.middlelayer {
      z-index: 2;
      background-color: #fff;
      opacity: 0.8;
    }
    &.bottomlayer {
      z-index: 1;
    }
  }
}

#top {
  color: $PRIMARY-COLOR;
  h1 {
    font-family: 'Stalemate', cursive;
    font-weight: 100 !important;
  }
}


// Bootstrap override
.bounce {
  position:absolute;
  z-index: 100;
  left:50%;
  bottom:20px;
  margin-top:-25px;
  margin-left:-25px;
  // -webkit-animation:bounce 1s infinite;
  a {
    color: #fff;
  }
}

#bio {
  height: 650px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top:60px;
  padding-bottom: 30px;
  .description {
    width: 100%;
    min-height: 450px;
    h1 { font-size: 80px; }
    p  {
      font-size: 30px;
      color: $PRIMARY-COLOR;
    }
  }
  .photo {
    width: 100%;
  }
}

#map {
  width: 100%;
  height: 100%
}

#portfolio {
  background-image: url(../assets/images/singer.jpg);
  background-repeat: no-repeat;
  background-color: #000;
  .samples {
    margin-bottom: 50px;
  }
}

// @-webkit-keyframes bounce {
//   0%       { bottom:5px; }
//   25%, 75% { bottom:15px; }
//   50%      { bottom:20px; }
//   100%     {bottom:0;}
// }
