// COLOURS
$PRIMARY: #AA2567;
$TERTIARY: #FFF;
@import url(https://fonts.googleapis.com/css?family=Stalemate);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #aaa;
  width: 100%;
  height: 100%;
}

#nav {
  background: none;
  border: none;
}

.section {
  background-color: black;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .inner-container {
    height: 600px;
    margin: 10px;
    padding:5px;
    background:blue;
    color:white;
  }
}


.div-overlay-container {
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    &.toplayer {
      z-index: 3;
    }
    &.middlelayer {
      z-index: 2;
      background-color: $PRIMARY;
      opacity: 0.8;
    }
    &.bottomlayer {
      z-index: 1;
    }
  }
}

#top {
  color: $TERTIARY;
  h1 {
    font-family: 'Stalemate', cursive;
    font-weight: 100 !important;
  }
}


// Bootstrap override
.bounce {
  position:absolute;
  z-index: 100;
  left:50%;
  bottom:20px;
  margin-top:-25px;
  margin-left:-25px;
  // -webkit-animation:bounce 1s infinite;
  a {
    color: #fff;
  }
}

// @-webkit-keyframes bounce {
//   0%       { bottom:5px; }
//   25%, 75% { bottom:15px; }
//   50%      { bottom:20px; }
//   100%     {bottom:0;}
// }
